# Versioning and metadata
.git
.gitignore
.github

# Build dependencies
node_modules
.npm
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment (contains sensitive data)
.env
.env.*
!.env.example

# Files not required for production
README.md
CHANGELOG.md
**/tests
**/*.test.js
**/*.spec.js
.dockerignore
Dockerfile
docker-compose*

# Next.js build output
.next/cache 